.App {
  text-align: center;
}

.band-list {
  display: flex;
  flex-wrap: wrap;
}

.band {
  margin: 10px;
}

.instrument-list {
  display: flex;
  flex-wrap: wrap;
}

.instrument {
  margin: 10px;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
}

.car {
  margin: 10px;
}

.interior {
  display: flex;
  flex-wrap: wrap;
}

.interior-item {
  margin: 5px;
}

.candy-list {
  display: flex;
  flex-wrap: wrap;
}

.candy {
  margin: 10px;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  margin: 5px;
}