.App {
  text-align: center;
}

.band-list {
  display: flex;
  flex-wrap: wrap;
}

.band {
  margin: 10px;
}

.instrument-list {
  display: flex;
  flex-wrap: wrap;
}

.instrument {
  margin: 10px;
}